<ion-content class="ion-padding innerPage pagePadding">
  <ion-refresher slot="fixed" [pullFactor]="0.5" [pullMin]="100" [pullMax]="200" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ng-container *ngIf="!loading">
    <ion-card *ngFor="let req of gridData">
      <ion-card-header>
        <ion-card-subtitle>{{req.email}} </ion-card-subtitle>
        <ion-card-title class="flexTitle">
          <ion-text>{{req.first_name}}</ion-text>
          <ion-text>{{req.account_no}}</ion-text>
        </ion-card-title>
      </ion-card-header>
      <ion-card-content class="tradingContent noteWd45">

        <ion-list lines="none">
          <ion-item>
            <ion-note>Amount:</ion-note>
            <ion-text>
              <p>€ {{req.withdraw_amount | number : '1.2-2'}} </p>
            </ion-text>
          </ion-item>
          <ion-item>
            <ion-note>Date:</ion-note>
            <ion-text>
              <p>{{req.withdraw_date}} </p>
            </ion-text>
          </ion-item>
          <ion-item>
            <ion-note>Status:</ion-note>
            <ion-text>
              <p>{{req.withdraw_status}} </p>
            </ion-text>
          </ion-item>
          <ion-item>
            <ion-note>Transaction Type:</ion-note>
            <ion-text>
              <p>{{req.transaction_type}} </p>
            </ion-text>
          </ion-item>
        </ion-list>

        <div class="ion-padding-top" *ngIf="req.withdraw_status === 'Open'">
          <ion-button color="success" fill="solid" (click)="appReq(req)">Approve</ion-button>
          <ion-button color="danger" fill="solid" (click)="rejectReq(req)">Reject</ion-button>
        </div>

      </ion-card-content>

    </ion-card>
  </ng-container>

  <ng-container *ngIf="loading">
    <ion-card *ngFor="let item of [0,0,0,0,0,0,0]">
      <ion-card-header>
        <ion-card-subtitle>
          <ion-skeleton-text [animated]="true"></ion-skeleton-text>
        </ion-card-subtitle>
        <ion-card-title>
          <ion-skeleton-text [animated]="true"></ion-skeleton-text>
        </ion-card-title>
      </ion-card-header>

    </ion-card>
  </ng-container>
</ion-content>