<div>

    <mat-dialog-content>
        <h3 class="ion-padding-bottom">Change Password</h3>
        <form [formGroup]="changePass" *ngIf="showForm">
            <div class="fullBox">
                <ion-input label="Password" label-placement="floating" fill="outline" type="text"
                    placeholder="Enter New Password" formControlName="password"></ion-input>
            </div>


        </form>
    </mat-dialog-content>
    <mat-dialog-actions>
        <div class="buttonJustfy">
            <ion-button color="light" type="submit" expand="block" (click)="dialogRef.close()">Cancel</ion-button>
            <ion-button type="submit" expand="block" (click)="save()"
                [disabled]="changePass?.invalid || changePass?.pristine">Save</ion-button>
        </div>
    </mat-dialog-actions>
</div>