
.content {
    background-color: #fff;
    padding: 0 0;
    display: flex;
}
.table {
    width: 100%;
}
.table__row {
    transition: background-color 0.2s ease-in;
    border-bottom: 1px solid rgba(215, 215, 215, 0.4);
    font-size: .75rem;
} 
.table__row--heading {
    font-weight: 700;
    text-transform: uppercase;
    font-size: .625rem;
}
.table__cell {
    color: #323948;
    text-align: center;
    padding: 0.625rem 0;
}
.table__cell--center-items>* {
    display: flex;
    justify-content: center;
    align-items: center;
}
.green {
    color: #149331;
}
.red {
    color: #ff5959;
}
.co-payment-history-web {
    display: block;
    width: 100%;
    margin: 0;
}